NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_INSFORGE_BASE_URL=https://76w8jrzf.us-east.insforge.app
NEXT_PUBLIC_INSFORGE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3OC0xMjM0LTU2NzgtOTBhYi1jZGVmMTIzNDU2NzgiLCJlbWFpbCI6ImFub25AaW5zZm9yZ2UuY29tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIxNTEwODJ9.oQYlAV3gikJ3CWaQW08FCHblFjivq1UAVUpeRW7ZFsY
